* {
    box-sizing: border-box;
}

html {
    font-family: montserrat;
    color: $clr2;
}

body {
    margin: 0;
}

h1, h2, h3, h4, h5, h6 {
    font-family: caveat;
    margin: 0;
}

section, main, footer {
    padding: 5px;
}

img {
    width: 100%;
}

p {
    color:$clr7;
    margin: 0;
    font-size: 12px;
}


a {
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}